@use 'styles/utils/' as *;
@use 'styles/globals/' as *;


.formItem {
    display: flex;
    flex-direction: column;
    position: relative;

    .label {
        position: absolute;
        top: rem(16);
        left: rem(8);
        transform: translateY(-50%);
        font-family: sans-serif;
        font-size: rem(13);
        transition: .1s linear;
        color: $gray;
        font-weight: bold;
    }

    .input {
        height: rem(32);
        margin-bottom: rem(28);
        border: none;
        border-bottom: rem(3) solid $gray;
        transition: border-bottom .1s ease-in-out;
        padding-left: rem(8);
        font-size: rem(14);
    }

    .textarea {
        @extend .input;

        resize: none;
        min-height: rem(140);
        font-family: sans-serif;
    }


    .input:focus,
    .textarea:focus {
        outline: none;
        border-bottom: rem(3) solid $dark-blue;
    }

    .input:focus+.label,
    .textarea:focus+.label {
        transform: translateY(- rem(28));
        font-size: rem(10);
        font-weight: normal;
        color: $dark-blue;
    }

    .input:not(:placeholder-shown)+.label,
    .textarea:not(:placeholder-shown)+.label {
        transform: translateY(- rem(28));
        font-size: rem(10);
        font-weight: normal;
        color: $dark-blue;
    }
}