@use 'styles/utils/' as *;
@use 'styles/globals/' as *;

.button {
    display: inline-block;
    padding: rem(8) rem(20);
    border: rem(2) solid $dark-blue;

    font-size: rem(12);
    font-family: sans-serif;
    font-weight: bold;
    color: $dark-blue;

    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    background-color: transparent;

    cursor: pointer;
}


.secondary {
    @extend .button;

    background-color: $dark-blue;
    color: white;
}