@use 'styles/utils/' as *;

.wrapper {
    width: 74%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    .options {
        margin-top: rem(20);
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .inputWrapper {
            width: 100%;
            margin: rem(20) 0 rem(32);
        }
    }
}