@use 'styles/utils/' as *;
@use 'styles/globals/' as *;

.wrapper {
    width: 60vw;
    margin: rem(60) auto 0;

    .accounts {
        list-style-type: none;
    }
}


.noItems {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    &Info {
        color: gray;
        font-size: rem(20);
    }
}