@use 'styles/utils/' as *;
@use 'styles/globals/' as *;

.wrapper {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 36vw;
    height: 80vh;

    box-shadow: 0 10px 40px -10px rgba(100, 100, 100, 0.596);

    .close {
        position: absolute;
        right: rem(10);
        top: rem(10);

        height: rem(20);
        width: rem(20);

        border: rem(2) solid $dark-blue;
        background-color: transparent;
        color: $dark-blue;
        font-weight: bold;

        cursor: pointer;
    }
}